/* Simple button */

.button {
  appearance: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
  font-size: 1.25em;
  font-weight: 600;
  border: 1px solid var(--theme-text);
  color: var(--theme-text);
  padding: 1em 1.5em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button:disabled {
  opacity: 0.8;
}

.button:hover:not(:disabled),
.button:active:not(:disabled) {
  border-color: var(--theme);
}

.button:active:not(:disabled) {
  background-color: var(--theme);
}

.button .button__icon {
  display: none;
}

.button.button_empty .button__content {
  display: none;
}

.button.button_empty.button_icon {
  padding: 0.5em;
}

/* Filled button */

.button.button_filled {
  background-color: var(--theme);
  border-color: var(--theme);
}

.button.button_filled:hover:not(:active, :disabled) {
  opacity: 0.9;
}

.button.button_filled:active:not(:disabled) {
  background-color: var(--theme-text);
  border-color: var(--theme-text);
  color: var(--theme);
}

/* Reverse button */

.button.button_reverse {
  flex-direction: row-reverse;
}

/* Icon button */

.button.button_icon {
  padding: 0.75em 1.25em;
}

.button.button_icon .button__icon {
  display: block;
  font-size: 1.35em;
}

/* Rounded button */

.button.button_rounded {
  border-radius: 1.5em;
}
