.radio {
  display: flex;
  width: fit-content;
}

.radio__item {
  font-weight: 600;
  color: var(--theme-text);
  padding: 1em 2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.radio__item {
  border: 1px solid grey;
}

.radio__item:not(:first-child) {
  border-left: 0px;
}

.radio__item:hover:not(.radio__item_active, .radio__item_disabled) {
  color: var(--theme);
}

.radio__item_active:not(.radio__item_disabled) {
  background-color: var(--theme);
  border-color: var(--theme);
  color: var(--theme-text);
}

.radio__item_disabled {
  opacity: 0.7;
}

.radio.radio_point {
  flex-direction: column;
  gap: 1em;
}

.radio.radio_point .radio__item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0;
  border: none;
}

.radio.radio_point .radio__item::before {
  content: "";
  display: flex;
  min-width: 0.85em;
  min-height: 0.85em;
  max-width: 0.85em;
  max-height: 0.85em;
  border-radius: 100%;
  border: 2px solid grey;
  transition: 0.15s linear;
}

.radio.radio_point .radio__item:hover:not(.radio__item_active) {
  color: var(--theme-text);
  opacity: 0.8;
}

.radio.radio_point .radio__item.radio__item_active {
  background-color: transparent;
}

.radio.radio_point .radio__item.radio__item_active::before {
  border-color: var(--theme-text);
  background-color: var(--theme);
}
