.switch {
  display: flex;
  width: 2.85em;
  height: 1.25em;
  background-color: grey;
  padding: 0.2em 0.3em;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.switch_disabled {
  opacity: 0.7;
  cursor: default;
}

.switch::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.switch_active {
  background-color: var(--theme);
}

.switch_active::before {
  margin-left: calc(100% - 1.25em);
}
