:root {
  --primary: #d62c40;
  --primary-filled: #2b2c2f;
  --primary-text: #ffffff;

  --success: #67c23a;
  --success-filled: #2b2c2f;
  --success-text: #ffffff;

  --info: #409eff;
  --info-filled: #2b2c2f;
  --info-text: #ffffff;

  --default: #909399;
  --default-filled: #2b2c2f;
  --default-text: #ffffff;

  --warning: #e6a23c;
  --warning-filled: #2b2c2f;
  --warning-text: #ffffff;

  --danger: #f56c6c;
  --danger-filled: #2b2c2f;
  --danger-text: #ffffff;
}

body, .primary {
  --theme: var(--primary);
  --theme-text: var(--primary-text);
  --theme-filled: var(--primary-filled);
}

.success {
  --theme: var(--success);
  --theme-text: var(--success-text);
  --theme-filled: var(--success-filled);
}

.info {
  --theme: var(--info);
  --theme-text: var(--info-text);
  --theme-filled: var(--info-filled);
}

.default {
  --theme: var(--default);
  --theme-text: var(--default-text);
  --theme-filled: var(--default-filled);
}

.warning {
  --theme: var(--warning);
  --theme-text: var(--warning-text);
  --theme-filled: var(--warning-filled);
}

.danger {
  --theme: var(--danger);
  --theme-text: var(--danger-text);
  --theme-filled: var(--danger-filled);
}

* {
  font-family: sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme);
}

body {
  background-color: #2b2c2f;

}
